$btn-text: #3f3f3f;
$beige: #F8F3F1;
$dark-gray: #444;
$light-gray: #605f5f;
$dark-fiolet: #68618c;
$fiolet: #AAB1E9;
$dark-pink: #c28584;
$pink: #e2a7a4;
$fav-pink: #955e5d;
$contrast-pink: #9c6968;
$blue: #98c1d9;
$contrast-blue: #50798f;
$contrast-mint: #57797a;
$light-blue: #dbe4eb;
$light-green: #BFD6D2;
$mint: #DBE8E8;
$dark-mint: #95B0B1;
$green: #9ec6b3;
$light: #FFFFFF;
$brown: #ab6244;
$gray: #444;
$deep-pink: #C19897;
$light-pink: #ffe8e8;
$pink-bg: #EFE0DD;
$dark-green: #487e80;
// $light-green: #9ec6b3;
// $light-blue: #cdecfc;
$orange: #ffd4ac;
$text-gray: #2d2d2b;
$sand-main: #EAE5E1;
$dark-beige: #D4C7BE;
$pure-white: #fff;
$dark-green: #6f6e62;
$brown: #995C41;
